In [1]:
import pandas
import scipy
import numpy
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

/usr/local/lib/python3.6/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
url = r"pokemon.csv"
names = ['number', 'Name', 'Type1', 'Type2', 'HP', 'Attack', 'Defense', 'SpAttk', 'SpDef','Speed','Generation','Legendary']
dataframe = pandas.read_csv(url, names=names)

In [3]:
dataframe.head()

,number,Name,Type1,Type2,HP,Attack,Defense,SpAttk,SpDef,Speed,Generation,Legendary
0,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,FALSE
2,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,FALSE
3,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,FALSE
4,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,FALSE

In [4]:
dataframe.isnull().sum()

number          0
Name            1
Type1           0
Type2         386
HP              0
Attack          0
Defense         0
SpAttk          0
SpDef           0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [5]:
dataframe = dataframe.dropna(how='any',axis=0)

In [6]:
dataframe.isnull().sum()

number        0
Name          0
Type1         0
Type2         0
HP            0
Attack        0
Defense       0
SpAttk        0
SpDef         0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [7]:
dataframe.shape

(415, 12)

In [8]:
X = dataframe.iloc[1:,:-1].values
y = dataframe.iloc[1:,-1].values

In [ ]:
labelencoder_X = LabelEncoder()


X[:, 1] = labelencoder_X.fit_transform(X[:, 1])
X[:, 2] = labelencoder_X.fit_transform(X[:, 2])
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])


labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [ ]:
tonehotencoder = OneHotEncoder(categorical_features = [4])
X = onehotencoder.fit_transform(X).toarray()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [ ]:
sc_y = StandardScaler()
y_train = sc_y.fit_transform(y_train.reshape(-1, 1))

In [ ]:
label_X = LabelEncoder()
label_X.fit_transform(X[:10, 2])